#create_group_header {
  background-color: #f4f4f4;
  padding: 10px;
}

#create_group_header_text {
  text-align: center;
}

.create_group_tbody {
  padding: 10px;
  align-items: center;
  justify-content: center;
  display: flex;
}

#create_group_form {
  max-width: 350px;
  display: flex;
  justify-content:center;
  margin-bottom: 10px;
  background-color: red;
  margin: auto;
}

#create_group_name {
  padding: 5px;
  border: none;
  border-radius: 4px;
  outline: none;
}
#add_user_list{
  display: none;
}
#create_group_select_users {
  padding: 5px;
  background-color: #ffca28;
  color: #000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#create_group_create {
  padding: 5px;
  background-color: #388e3c;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btnoky {
  margin-right: 10px;
  background-color: #388e3c;
  border: none;
  color: #fff;
  padding: 5px 20px;
  border-radius: 4px;
  cursor: pointer;
}