.container {
  margin: 0 auto;
  max-width: 800px;
}

.create_group_header {
  background-color: #f2f2f2;
  padding: 20px;
}

#create_group_header_text {
  text-align: center;
}

#create_group_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

#create_group_form input[type="text"],
#create_group_form button {
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #f2f2f2;
  font-size: 16px;
}

#create_group_form input[type="text"] {
  width: 100%;
  max-width: 500px;
}

#create_group_create {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

#create_group_create:hover {
  background-color: #3e8e41;
}

#create_group_select_users {
  background-color: #008CBA;
  color: white;
  cursor: pointer;
}

#create_group_select_users:hover {
  background-color: #006380;
}

.create_group_tbody {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}