:root{
  --bc-color:rgb(255, 255, 255);
  --menu-color:rgb(36,178,76);
}
html , body , #root , .App , .home {
  height:100%;
  width:100%;
}
#root{
  height: 100%;
}
.App{
  height:100%;
}

.home{
  height:100%;
  /* width: (current screen width)-();
  height: (current screen height)-(); */
  background-color: var(--bc-color-home-page);
}
.home-top-bar{
  width:100%;
  height:7%;
  background-color:var(--bc-color);
  border-bottom-color: rgb(0, 0, 0);
  border-bottom-width:2px;
  border-bottom-style:groove;
  
}
.logo { 
  position: relative;
  float: right;
  height: 80%;
  top: 10%;
  right: 20px; 
  width:auto; 
  background-color:transparent;
  background-repeat: no-repeat;
  object-fit: contain;
  /* filter: drop-shadow(12px 12px 5px rgba(0 ,0 ,0 ,0.7)); */
  /* mix-blend-mode: color-burn; */
}

.welcome { 
    width: 90%;
    top:280px; 
    right: 50px; 
}

.homeimg {
    margin-top: 700px; 
    margin-left: 1550px; 
    width: 90px; 
    height: 90px;
}