:root{
  --bc-color:rgb(255, 255, 255);
  --menu-color:rgb(36,178,76);
}

.homeURLs{
  width: 300px;
  height: 300px;
  position: fixed;
  background-color: #00ff88;
  z-index: 4;
}
.URL{
  width: 100%;
  height: 30px;
  text-align: center;
  justify-content: center;
  background-color: #e4e4e4;
}

html , body , #root , .App , .app , .Home , .home{
  height: 100%;
  width: 100%;
  margin: 0;
}
/* //////////////////////////////////////////////////////////// scrollbar -> */
::-webkit-scrollbar {
  width: 5px; /* width of the scrollbar */
}
::-webkit-scrollbar:hover {
  width: 10px; /* width of the scrollbar */
}
::-webkit-scrollbar-track {
  border-radius: 5px;
  background: #f1f1f1; /* color of the track*/ 
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #888; /* color of the thumb */
}
/* //////////////////////////////////////////////////////////// scrollbar <- */
.home{
  height:100%;
  /* width: (current screen width)-();
  height: (current screen height)-(); */
  background-color: var(--bc-color-home-page);
}
#head_of_home_page{
  width: 100%;
  height:100%;
  background-image: url('../img/home_page_background.png');
  background-size: cover;
  background-position: center center;
}
#body_of_home_page{
  width: 100%;
  background-color: #f50d0d00;
}
#footer_of_home_page{
  width: 100%;
  height: 10px;
  display: flex;
  background-color: #00ff22;
  justify-content: center;
  align-items: center;
}
.content_of_home_page_odd, .content_of_home_page_even{
  width: 100%;
  background-color: #e6e6e6;
  align-items: center;
  justify-content: center;
  display: flex;
}
.content_of_home_page_odd{
  direction: ltr;
}
.content_of_home_page_even{
  direction: rtl;
}
/* #content1,#content2,#content3,#content4{} */
.content_container{
  display: flex;
  width: 95%;
  height: 92.5%;
  background-color: var(--bc-color);
  border-radius: 40px;
  /* padding: 2.5%; */
  /* margin: 2.5%; */
}
.content_pic{
  height: 100%;
  width: 40%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
/* #content1_pic,#content2_pic,#content3_pic,#content4_pic{} */
#content1_pic{
  background-image: url('../designs/design2.png');  
}
#content2_pic{
  background-image: url('../designs/design3.png');  
}
#content3_pic{
  background-image: url('../designs/design4.png');  
}
#content4_pic{
  background-image: url('../designs/design5.jpg');  
}
.content_text{
  width: 55%;
  background-color: rgba(255, 0, 0, 0);
  height: 90%;
  direction: rtl;
  font-family: iraniansans;
  margin: 2.5%;
} 
/* #content1_text, #content2_text, #content3_text, #content4_text{}  */
.content_p{
  margin: 400px 10px 0 auto;
  font-size: x-large;
}
#home_page_header{
  transition: 0.5s, transform 0.5s;
  position: fixed;
  width: 100%;
  height: 100px;
  background-color: #dddddd00;
  display: grid;
  top: 0;
  /* font-family:jadid; */
}
#home_page_top_bar{
  transition: 0.5s, transform 0.5s;
  position: fixed;
  background: black;
  width: 100%;
  height: 150px;
  background: linear-gradient(to top, transparent, #fff);
  z-index: -1;
  margin-top: -150px;
}
#footer_container{
  width: 90%;
  height: 90%;
  background-color: #fff;
  border-radius: 50px;
}
#footer_design{
  width: 50%;
  height: 100%;
  background-image: url('../designs/design1.png');
  background-position: center center;
  background-size:contain;
  background-repeat: no-repeat;
  float: left;
}
#footer_content{
  width: 50%;
  height: 100%;
  float: right;
}
header b {
  position: fixed;
}
#status{
  position: fixed;
}
h1,h2,h3,h4,h5,h6{
  margin: 0;
}
#signup_user_btn, #login_user_btn{
  width:100px;
  height: 40px;
  border-radius: 50px;
  position: fixed;
  right: 0;
  top: 0; 
}
#signup_user_btn{
  margin:30px 50px auto auto;
}
#login_user_btn{
  margin:30px 155px auto auto;
}
#home_page_menu_button{
  width: 100px;
  display: none;
}
#home_page_menu{
  height:40px;
}
#logo_name_div{
  /* transition: 0.5s,transform 0.5s; */
  transition: all 0.3s cubic-bezier(0.1 , 0.3 , 0.8 , 0.4);
  /* transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out; */
  
  width: 220px;
  height:100px;
  float: left;
  display: flex;
  margin: auto;
  text-align: center;
  background-color: #02ee0e00;
}
#logo_name{
  float:right;
  font-size: xx-large;
  font-weight: 900;
  margin:auto;
}
#logo_div{
  width:100px;
  height: 100px;
  /* margin: auto; */
  float: right;
  background-color: #e0050500;
}
.logo{
  height: 100px;
  width: 100px;
  float: right;
}
#menu{
  /* transition: 0.5s, transform 0.5s; */
  transition: all 0.5s cubic-bezier(0.1, 0.2, 0.6, 1.5);
  
  width: 230px;
  height: 40px;
  background-color:rgba(34, 178, 80, 0);
  position: fixed;
  display:flex;
  margin: 100px calc(50% - 125px) auto calc(50% - 125px);
  justify-content: center;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  cursor: pointer;
}
header #menu .menu_item{
  text-align: center;
  justify-content: center;
  width:auto;
  height: 40px;
  background-color: #d1090900;
  padding: 10px;
  border-top-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-right-width: 2px;
  border-image: linear-gradient(#ffffff00, #00000073, #ffffff00) 0.5;
  border-style: solid;

  white-space: nowrap;
}
header #menu .menu_item:last-child {
  border-right-width: 0px;
}
#homepage_bakground_img_div{
  background-image: url("../img/home_page_background.png");
  width: 100%;
  height: 100%;
}
#homepage_bakground_img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
