:root{
  --menu-color:rgb(139, 139, 139);
}


.menu{
  height:92%;
  width: 50px;
  float: right;
  margin-right: 0px;
  background-color:var(--menu-color);
  /* border-top-left-radius: 15px;
  border-bottom-left-radius: 15px; */
  /* position:fixed; */
}

.menu-btn{
  margin-top: 10px;
  margin-left: 10px;
  float:left;
  animation:both 0.3s ;
}

.label-check {
  display: none;
}

.hamburger-label {
  width: 30px;
  height: 30px;
  display: block;
  cursor: pointer;
}


.hamburger-label div {
  width: 30px;
  height: 4px;
  background-color: #fff;
  position: absolute;
  border-radius: 10px;
}

.line1 {
  transition: all .3s;
}

.line2 {
  margin: 8px 0 0 0;
  transition: 0.3s;
}

.line3 {
  margin: 16px 0 0 0;
  transition: 0.3s;
}

#label-check:checked + .menu{
  right: 130px;
}

#label-check:checked + .hamburger-label .line1 {
  transform: rotate(35deg) scaleX(.55) translate(15px, -1px);
}
#label-check:checked + .hamburger-label .line2 {
  border-radius: 50px;
}
#label-check:checked + .hamburger-label .line3 {
  transform: rotate(-35deg) scaleX(.55) translate(15px, 1px);
}
/* #label-check:checked + .menu{
  width:100px;
  margin-right: 100px;
} */