:root{
  --bc-color-home-page:#ffffff;
  --bc-color-register-user-page:#ffffff;
  --bc-color-login-user-page:#fff;
  --menu-them-p:#3E2F5B;
  --menu-them-o:#F28500;
  --menu-them-w:#F3EFE0;




  --scrollbar-track-bc:rgb(212, 212, 212);
  --scrollbar-border:5px;
  --scrollbar-thumb-bc:rgb(124, 124, 124);
  --webkit-scrollbar-thumb-hover-bc:rgb(102, 102, 102);
}